#btnRoomsList {
    float:left;
    width:40px;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #f4f4f4;
    padding: 10px;
    margin-right: 20px;
}

#btnRoomsList button {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}
.chatWrapper{
    display: inline-block;
    width: calc(90% - 250px);
    min-width: 300px;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #f4f4f4;
    padding: 10px;
}
.userWrapper{
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
    width: 150px;
    max-height: 200px;
}
.namesWrapper {
    float:left;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
}
input{
    height: 30px;
    border:solid 1px #ccc;
}
.btn-logo {
    width: 64px;
    margin-right: 4px;
}

.btn-name {
    font-weight: 600;
    margin-right: 32px;
}

.chan-logo {
    width: 72px;
    float: left;
    margin-right: 8px;
}

.chatWindow {
    overflow-y: scroll;
    margin-bottom: 20px;
}