body {
  background: #f9f9f9;
}

#container {
  width: 700px;
  margin: 0 auto;
}

#chatWindow {
  height: 300px;
}

#mainWrapper {
  display: none;
}

#chatWrapper {
  float: left;
  border: 1px #ccc solid;
  border-radius: 10px;
  background: #f4f4f4;
  padding: 10px;
}

#userWrapper {
  display: none;
  float: left;
  border: 1px #ccc solid;
  border-radius: 10px;
  background: #f4f4f4;
  padding: 10px;
  margin-left: 20px;
  width: 150px;
  max-height: 200px;
}

#namesWrapper {
  float: left;
  border: 1px #ccc solid;
  border-radius: 10px;
  background: #f4f4f4;
  padding: 10px;
  margin-left: 20px;
}

input {
  height: 30px;
  border: solid 1px #ccc;
}

#modal {
  background: #00000055;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#modal .modalcontent {
  background: #fff;
  border: 1px solid #000;
  position: relative;
}

#modal form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#modal .close {
  position: absolute;
  top: 0;
  right: 0;
}

#modal label {
  display: flex;
  justify-content: space-between;
}

#modal.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}